---
import Link from "@components/UI/Link.astro";
import { STATIC_PATHS } from "@i18n/utils";
import Layout from "src/layouts/Layout.astro";

// const t = i18n.inferLangUseTranslations(Astro.url);

export const prerender = true;

export function getStaticPaths() {
  return STATIC_PATHS;
}
---

<Layout title="Links | Vboi's Games">
    <main id="main-content">
        <h1 class="title-text">Links for Vboi's Games</h1>
        <section id="donate">
            <h3 class="thank-you-title">Want Extra Links? You are in the right place!</h3>

            <h2>Links:</h2>
            <p>Vboi's Games will soon have multiple links! You can access them right here. If you experence any issues/bugs click <Link href="https://form.typeform.com/to/T1iQGrzo" newTab>here!</Link></p>
            
            <h2>Active Links</h2>
            <p>The following links should be active:</p>
            <div class="wallet-list-item"><span class="wallet-list-title">Link 1: </span> Coming Soon!</div>
            <div class="wallet-list-item"><span class="wallet-list-title">Link 2:  </span> Coming Soon!</div>
            <div class="wallet-list-item"><span class="wallet-list-title">Link 3:</span> Coming Soon!</div>
            <div class="wallet-list-item"><span class="wallet-list-title">Link 4:</span> Coming Soon!</div>
            <p>Click on any address to copy it to your clipboard!</p>
        </section>

        <script>
            import Toast from "@components/ts/toast";
            Toast.setDuration(2000);
            
            const wallets = document.getElementsByClassName("wallet-list-item");

            Array.from(wallets).forEach((wallet) => {
                wallet!.addEventListener("click", () => {
                    if (wallet) {
                        navigator.clipboard.writeText(wallet.childNodes[1].textContent!);
                        Toast.success("Copied to clipboard!");
                    }

                });
            });
        </script>

        <style>
            #donate {
                background-color: rgb(from var(--accent-color-brighter) r g b / 0.75);
                padding: 10px;
                border-radius: 0.5rem;
                box-shadow: 6px 6px 10px 0px var(--background-color);
            }
            .thank-you-title {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
            .wallet-list-item {
                cursor: pointer;
                font-size: 18px;
                height: 2rem;
                white-space: nowrap;
                overflow: hidden;
            }
            .wallet-list-title {
                width: 6rem;
                display: inline-block;
                font-weight: bold;
            }
        </style>
    </main>
</Layout>
